.accordion {
    border: 1px solid var(--purple_light);
    border-radius: 14px;
    padding: 26px 20px;

    &:not(:last-child) {
        margin-bottom: var(--gap);
    }

    &.is-active {}

    &__title-block {
        align-items: center;
        display: flex;
        gap: var(--gap);
        justify-content: space-between;
        position: relative;
        z-index: 0;
        @include hover {
            .accordion__title {
                color: var(--accent);
            }

            .accordion__toggler,
            .accordion__toggler.is-active {
                color: var(--accent);
            }
        }
    }

    &__title {
        font-size: 20px;
        font-weight: 500;
        margin: 0;
        transition: color 0.3s;
    }

    &__toggler {
        @include button-reset;
        @include active-area;
        color: var(--grey_dark);
        height: 24px;
        min-width: 24px;
        transition: color 0.3s;
        width: 24px;

        &.is-active {
            color: #4C5D7C;

            svg {
                transform: rotate(45deg);
            }
        }

        svg {
            fill: currentColor;
            height: 24px;
            transition: color 0.3s, transform 0.3s;
            width: 24px;
        }
    }

    &__body {
        color: var(--grey_dark);
        display: none;
        padding-top: 20px;
    }
}