.badge {
    border-radius: 8px;
    display: inline-block;
    font-size: 15px;
    line-height: 1.2;
    padding: 3px 8px;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;

    &--type_1 {
        background-color: var(--base_bg);
        color: var(--purple);
    }

    &--type_2 {
        background-color: var(--green_light);
        color: var(--green_dark);
    }

    &--type_3 {
        background-color: var(--blue_light);
        color: var(--blue);
    }
}

a.badge--type_1 {
    @include hover {
        background-color: #eaebf2;
        color: var(--accent);
    }
}

a.badge--type_2 {
    @include hover {
        background-color: #c8dac2;
        color: var(--green_dark);
    }
}

a.badge--type_3 {
    @include hover {
        background-color: #d8e2ec;
        color: var(--blue);
    }
}