*,
::after,
::before {
    box-sizing: border-box;
}

body,
html {
    @include scrollbar;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: calc(var(--header_min_height) + 20px);

    &.is-overflow {
        scrollbar-gutter: stable;
    }
}

.page {
    background-color: var(--base_bg);
    color: var(--black);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: var(--primary_font);
    font-weight: 300;
    line-height: 1.3;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;

    &--404 {}

    &.is-overflow {
        overflow: hidden;
        scrollbar-gutter: stable;
    }

    &__content {
        flex: 1 0 auto;
        overflow: hidden;
        padding-bottom: clamp(var(--section_indent_min), 5.25vw, var(--section_indent_max));
    }
}

.section {
    padding-top: clamp(var(--section_indent_min), 5.25vw, var(--section_indent_max));
    padding-bottom: clamp(var(--section_indent_min), 5.25vw, var(--section_indent_max));

    &--white {
        background-color: var(--white);
    }

    &--start {
        padding-top: 0;
        padding-bottom: var(--section_indent_min);
    }

    &:not(.section--white):last-child {
        padding-bottom: 0;
    }
}

.title-block {
    align-items: center;
    display: flex;
    gap: calc(var(--gap) / 2) var(--gap);
    flex-wrap: wrap;
    justify-content: space-between;

    .h1,
    .h2,
    .h3,
    h1,
    h2,
    h3 {
        margin: 0;
    }

    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

.container {
    max-width: var(--container_max_width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container_padding);
    padding-right: var(--container_padding);
}

.full-width {
    margin-left: calc(0.01px - var(--container_padding));
    margin-right: calc(0.01px - var(--container_padding));
    @media(min-width: 1560px) {
        margin-left: calc(-50vw + var(--container_max_width) / 2 - var(--container_padding));
        margin-right: calc(-50vw + var(--container_max_width) / 2 - var(--container_padding));
    }
}

.two-columns {
    @media(min-width: $md) {
        display: flex;
        gap: var(--gap);
    }

    &:not(:last-child) {
        margin-bottom: var(--section_indent_min);
    }

    &__big {
        @media(min-width: $md) {
            width: calc(100% - var(--gap) / 2 - 24.014%);
        }
    }

    &__small {
        @media(min-width: $md) {
            min-width: 24.014%;
            width: 24.014%;
        }
        @media(max-width: $md - 0.02px) {
            margin-top: 30px;
        }

        &--mobile_hidden {
            @media(max-width: $md - 0.02px) {
                display: none;
            }
        }

        .banner {
            @media(max-width: $md - 0.02px) {
                height: 200px;
            }
        }

        .h2,
        .h3,
        .h4,
        h2,
        h3,
        h4 {
            margin-top: 0;

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        .articles-list {
            @media(min-width: $md) {
                flex-direction: column;
            }

            .article-card {
                @media(min-width: $md) {
                    width: 100%;
                }
            }
        }
    }

    &__section {
        border-radius: var(--border_radius_default);
        background-color: var(--white);
        padding: 40px var(--container_padding) clamp(40px, 5.25vw, 80px);
        @media(min-width: $hd) {
            padding-right: clamp(40px, 5.25vw, 80px);
        }
        @media(max-width: $md - 0.02px) {
            margin-left: calc(0.01px - var(--container_padding));
            margin-right: calc(0.01px - var(--container_padding));
        }

        &:not(:last-child) {
            margin-bottom: clamp(var(--section_indent_min), 5.25vw, var(--section_indent_max));
        }

        .banner {
            &:not(:first-child) {
                margin-top: var(--section_indent_min);
            }

            &:not(:last-child) {
                margin-bottom: var(--section_indent_min);
            }
        }
    }
}

.text-container {
    max-width: 1130px;

    &--small {
        max-width: 750px;
    }
}

.page-bottom {
    .text-container {
        &:not(:last-child) {
            margin-bottom: clamp(var(--section_indent_min), 5.25vw, var(--section_indent_max));
        }
    }
}

.h1,
.h2,
.h3,
.h4,
h1,
h2,
h3,
h4 {
    display: block;
    font-weight: 700;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.h1,
h1 {
    font-size: clamp(24px, 3vw, 42px);
    margin-bottom: 20px;
    margin-top: 0;
}

h1 {
    &.h2 {
        margin-top: 0;
    }
}

.h2,
h2 {
    font-size: clamp(20px, 3vw, 36px);
}

.h3,
h3 {
    font-size: clamp(18px, 3vw, 32px);
}

.h4,
h4 {
    font-size: clamp(18px, 3vw, 24px);
}

.h2,
.h3,
.h4,
h2,
h3,
h4 {
    margin-top: 48px;
    margin-bottom: 30px;
}

a {
    color: var(--accent);
    transition: color 0.3s;
    @include hover {
        color: var(--button_hover);
    }

    &.black-link {
        color: var(--black);
    }
}

img {
    height: auto;
    max-width: 100%;
}

svg {
    transition: fill 0.3s;
}

*:focus {
    outline: none;
}

button,
input,
textarea {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

p {
    margin-top: 0;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
}

ol,
ul {
    padding: 0;

    &:not([class]) {
        margin-top: 0;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        li {
            &:not(:last-child) {
                margin-bottom: 16px;
            }

            ol,
            ul {
                margin-top: 16px;
            }

            ol {
                padding-left: 24px;
            }
        }
    }
}

ol {
    list-style-position: inside;

    li {
        &::marker {
            color: var(--accent);
            font-weight: 500;
        }
    }
}

ul {
    &:not([class]) {
        list-style: none;

        li {
            padding-left: 24px;
            position: relative;
            z-index: 1;

            &::before {
                background-color: var(--accent);
                border-radius: 50%;
                content: '';
                height: 8px;
                left: 0;
                position: absolute;
                top: 0.48em;
                width: 8px;
                z-index: 1;
            }
        }
    }
}

.big-counter {
    @include list-reset;
    counter-reset: custom-counter;

    li {
        counter-increment: custom-counter;
        min-height: 48px;
        position: relative;
        padding-left: 68px;
        z-index: 0;

        &:not(:last-child) {
            padding-bottom: 40px;

            &::after {
                background-color: var(--accent);
                content: '';
                height: 100%;
                left: 24px;
                position: absolute;
                top: 0;
                width: 1px;
                z-index: 0;
            }
        }

        &::before {
            align-items: center;
            background-color: var(--accent);
            border-radius: 8px;
            content: counter(custom-counter);
            color: var(--white);
            display: flex;
            font-size: 20px;
            font-weight: 500;
            height: 48px;
            justify-content: center;
            left: 0;
            position: absolute;
            padding: 5px;
            top: 0;
            width: 48px;
            z-index: 1;
        }

        & > span {
            align-items: center;
            display: flex;
            min-height: 48px;
        }
    }
}

.pros-cons {
    @include list-reset;

    li {
        min-height: 24px;
        padding-left: 28px;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    &--pros {
        li {
            background: url("../images/icons/plus_icon.svg") no-repeat 0 0;
        }
    }

    &--cons {
        li {
            background: url("../images/icons/minus_icon.svg") no-repeat 0 0;
        }
    }
}

blockquote {
    display: block;
    font-size: clamp(16px, 3vw, 24px);
    margin: 50px 0;
    padding-left: 80px;
    position: relative;
    z-index: 0;
    @media(min-width: $md) {
        padding-left: 210px;
        padding-right: 210px;
    }

    &::before {
        background: url("../images/icons/quotes.svg") no-repeat 0 0 transparent;
        content: '';
        height: 60px;
        left: 0;
        position: absolute;
        top: 0;
        width: 60px;
        z-index: 0;
        @media(min-width: $md) {
            left: 120px;
        }
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

figure {
    margin: 30px 0;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    img {
        border-radius: var(--border_radius_default);
        display: block;
        width: 100%;
    }
}

figcaption {
    color: var(--grey_dark);
    font-size: clamp(12px, 3vw, 15px);
    font-style: italic;
    margin-top: 16px;
    padding-left: var(--container_padding);
    padding-right: var(--container_padding);
    text-align: center;
}

.responsive-table {
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-x: auto;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

table {
    border-collapse: collapse;
    border: 1px solid var(--purple_light);
    width: 100%;

    tbody {
        tr:nth-child(even) {
            td {
                background-color: var(--white);
            }
        }

        tr:nth-child(odd) {
            td {
                background-color: #FAF6FF;
            }
        }
    }

    th {
        background-color: var(--accent);
        color: var(--white);
        font-weight: 500;
    }

    td,
    th {
        border: none;
        padding: 15px 20px;
        text-align: left;
    }

    td {
        background-color: var(--white);
        vertical-align: top;
    }
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.accent-color {
    color: var(--accent);
}

.grey-dark {
    color: var(--grey_dark);
}

hr {
    margin: 20px 0;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1px solid var(--grey);
}

.sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}