.input-group {
    display: block;
    position: relative;
    z-index: 0;

    &__label {
        background-color: var(--white);
        border-radius: 5px;
        color: var(--grey_dark);
        display: inline-block;
        font-size: 16px;
        font-weight: 300;
        height: 20px;
        line-height: 1.3;
        left: 14px;
        padding: 0 3px;
        position: absolute;
        top: -10px;
        white-space: nowrap;
        z-index: 1;
    }

    &:not(:last-child) {
        margin-bottom: 16px;
    }
}

.input,
.textarea {
    border-radius: 8px;
    border: 1px solid var(--grey_light);
    background-color: var(--white);
    color: var(--black);
    font-size: 16px;
    font-weight: 300;
    height: 56px;
    line-height: 1.3;
    padding: 10px 16px;
    transition: border-color 0.3s;
    width: 100%;

    &::-webkit-input-placeholder {
        color: var(--grey_light);
        opacity: 1;
    }

    &::-moz-placeholder {
        color: var(--grey_light);
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: var(--grey_light);
        opacity: 1;
    }

    &:focus-visible {
        border-color: var(--accent);
    }

    &:disabled {
        color: var(--grey);

        &::-webkit-input-placeholder {
            color: var(--grey);
            opacity: 1;
        }

        &::-moz-placeholder {
            color: var(--grey);
            opacity: 1;
        }

        &:-ms-input-placeholder {
            color: var(--grey);
            opacity: 1;
        }
    }

    &.error {
        border-color: var(--accent_red);

        &:focus-visible {
            border-color: var(--accent_red);
        }

        & + .input-group__label {
            color: var(--accent_red);
        }
    }
}

.textarea {
    @include scrollbar;
    display: block;
    height: 130px;
    line-height: 1.5;
    margin: 0;
}

.required {
    color: var(--accent_red);
}

.error-text {
    color: var(--accent_red);
    display: block;
    font-size: 14px;
    line-height: 1.3;
    margin-top: 5px;
}

textarea {
    resize: none;
}

input,
textarea {
    &:focus {
        outline: 0;
    }
}