.pager {
    @include list-reset;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: var(--section_indent_min);

    &:not(:last-child) {
        margin-bottom: var(--section_indent_min);
    }

    &__item {
        &--arrow {
            @media(max-width: $sm - 0.02px) {
                display: none;
            }
        }
    }

    &__link {
        align-items: center;
        border-radius: 8px;
        color: var(--grey_dark);
        display: flex;
        gap: 8px;
        height: 37px;
        justify-content: center;
        min-width: 34px;
        padding-left: 12px;
        padding-right: 12px;
        text-decoration: none;
        transition: background-color 0.3s;

        &.is-active {
            background-color: var(--accent);
            color: var(--white);
        }

        svg {
            fill: currentColor;
            height: 16px;
            min-width: 16px;
            width: 16px;
        }
    }
}

a.pager__link {
    color: var(--black);

    &:not(.is-active) {
        @include hover {
            background-color: var(--purple_light);
            color: var(--black);
        }
    }
}