.popup {
    background-color: var(--white);
    border-radius: 15px;
    border: 1px solid var(--accent);
    box-shadow: var(--box_shadow_default);
    display: none;
    max-width: 500px;
    padding: 30px;
    width: 100%;

    &.fancybox-content {
        padding: 30px;
    }
}