.articles-list {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));
}

.article-card {
    border-radius: var(--border_radius_default);
    border: 1px solid var(--grey_light);
    background-color: var(--white);
    box-shadow: var(--box_shadow_default);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
    position: relative;
    transition: border-color 0.3s;
    z-index: 0;
    @include hover {
        border-color: var(--accent);

        .article-card__image {
            img {
                transform: scale(1.02);
            }
        }
    }

    &__image {
        border-radius: var(--border_radius_small);
        margin-bottom: 16px;
        overflow: hidden;

        img {
            display: block;
            height: 200px;
            object-fit: cover;
            object-position: center;
            transition: transform 0.3s;
            transform: scale(1);
            width: 100%;
        }
    }

    &__title {
        font-size: clamp(18px, 3vw, 24px);
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 10px;
        max-height: 3.6em;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        a {
            @include active-area;
            color: var(--black);
            text-decoration: none;
        }
    }

    &__preview-text {
        color: var(--grey);
        max-height: 3.9em;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__bottom {
        align-items: center;
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
        margin-top: auto;
    }

    &__bottom-item {
        align-items: center;
        color: var(--grey_dark);
        display: flex;
        gap: 5px;
        margin: 0;

        svg {
            fill: currentColor;
            height: 20px;
            min-width: 20px;
            width: 20px;
        }
    }
}