.articles-top {
    display: grid;
    gap: var(--gap);
    @media(min-width: 600px) {
        grid-template-columns: 1fr 1fr;
    }
    @media(min-width: $md) {
        grid-template-columns: 1fr 0.5fr 0.5fr;
    }

    &:not(:last-child) {
        margin-bottom: clamp(var(--section_indent_min), 5.25vw, var(--section_indent_max));
    }
}

.article-top {
    border-radius: var(--border_radius_default);
    color: var(--white);
    overflow: hidden;
    position: relative;
    z-index: 0;
    @include hover {
        img {
            transform: scale(1.02);
        }
    }

    &--big {
        @media(min-width: $md) {
            grid-row: span 2;
        }

        .article-top__text-block {
            @media(min-width: $md) {
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }

        .article-top__title {
            @media(min-width: $md) {
                font-size: clamp(18px, 3vw, 32px);
            }
        }
    }

    &:not(.article-top--big) {
        .article-top__title {
            @media(min-width: $md) and (max-width: $lg) {
                font-size: 16px;
            }
        }
    }

    img {
        display: block;
        object-fit: cover;
        object-position: center;
        transition: transform 0.3s;
        transform: scale(1);
        width: 100%;
    }

    &__text-block {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 32%, var(--shade) 100%);
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        left: 0;
        position: absolute;
        padding: 20px;
        right: 0;
        top: 0;
        z-index: 1;
    }

    &__top-block {
        display: flex;
        flex-wrap: wrap;
        gap: 10px var(--gap);
        margin-bottom: 16px;

        .badge {
            margin: 0;
            position: relative;
            z-index: 2;
        }
    }

    &__read-time {
        align-items: center;
        display: flex;
        gap: 5px;
        font-size: 15px;
        font-weight: 500;

        svg {
            fill: currentColor;
            height: 24px;
            min-width: 24px;
            width: 24px;
        }
    }

    &__title {
        font-size: clamp(16px, 3vw,24px);
        font-weight: 700;
        line-height: 1.2;

        a {
            @include active-area;
            color: var(--white);
            text-decoration: none;
        }
    }
}