.article-detail {
    &:not(:last-child) {
        margin-bottom: clamp(var(--section_indent_min), 5.25vw, var(--section_indent_max));
    }
}

.article-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.article-props {
    color: var(--grey_dark);
    display: flex;
    flex-wrap: wrap;
    gap: 10px var(--gap);

    span {
        align-items: center;
        display: flex;
        gap: 5px;

        svg {
            fill: currentColor;
            height: 18px;
            min-width: 18px;
            width: 18px;
        }
    }

    a {
        color: var(--grey_dark);
        text-decoration-color: var(--grey_light);
        @include hover {
            color: var(--accent);
        }
    }
}

.article-anchors {
    @include list-reset;
    overflow: hidden;

    &.is-collapsed {
        height: 64px;
        position: relative;
        z-index: 0;

        &::after {
            background: linear-gradient(to bottom, rgba(255,255,255,0), #fff 100%);
            bottom: 0;
            content: '';
            height: 30px;
            left: 0;
            pointer-events: none;
            position: absolute;
            top: auto;
            touch-action: none;
            width: 100%;
            z-index: 1;
        }
    }

    li {
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    a {
        color: var(--purple);
        @include hover {
            color: var(--purple);
            font-weight: 500;
        }
    }
}

.anchors-shower {
    @include active-area;
    @include button-reset;
    align-items: center;
    border-bottom: 1px dashed currentColor;
    color: var(--purple);
    display: inline-flex;
    gap: 5px;
    margin-top: 10px;
    position: relative;
    transition: color 0.3s;
    z-index: 0;
    @include hover {
        color: var(--accent);
    }

    svg {
        fill: currentColor;
        height: 12px;
        min-width: 12px;
        width: 12px;
    }
}

.article-bottom {
    align-items: flex-start;
    border-top: 1px solid var(--purple_light);
    display: flex;
    flex-wrap: wrap;
    gap: 40px var(--gap);
    margin-top: var(--section_indent_min);
    padding-top: var(--section_indent_min);

    &__rating-share {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap);
    }
}

.article-author {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    max-width: 470px;

    &__avatar {
        height: 120px;
        min-width: 120px;
        width: 120px;

        img {
            border-radius: 50%;
            display: block;
            height: 100%;
            object-fit: cover;
            object-position: center;
            width: 100%;
        }
    }

    &__text-block {
        min-width: 280px;
        width: calc(100% - 120px - var(--gap));
    }

    &__name {
        font-size: clamp(18px, 3vw, 24px);
        font-weight: 700;
        margin-bottom: 16px;
    }

    &__about {
        color: var(--grey);
    }
}

.article-rating {
    min-width: 240px;

    &__title {
        color: var(--grey);

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    &__stars {
        align-items: center;
        color: var(--grey);
        display: flex;
        gap: 4px;
        flex-wrap: wrap;

        svg {
            fill: var(--grey_light);
            height: 24px;
            min-width: 24px;
            width: 24px;

            &.filled {
                fill: var(--yellow);
            }
        }
    }
}

.article-share {
    min-width: 240px;

    &__title {
        color: var(--grey);

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    &__links {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    &__link {
        @include active-area;
        color: var(--grey_dark);
        display: block;
        height: 24px;
        min-width: 24px;
        position: relative;
        width: 24px;
        z-index: 0;
        @include hover {
            color: var(--accent);
        }

        svg {
            fill: currentColor;
            height: 24px;
            width: 24px;
        }
    }
}

.article-header {
    background-color: var(--base_bg);
    border-bottom: 1px solid var(--accent);
    min-height: var(--header_min_height);
    @media(max-width: $md - 0.02px) {
        display: none;
    }

    &:not(:last-child) {
        margin-bottom: var(--section_indent_min);
    }

    &__inner {
        align-items: center;
        display: flex;
        min-height: var(--header_min_height);
    }

    &__title {
        font-size: clamp(18px, 3vw, 24px);
        font-weight: 700;
        line-height: 1.2;
        margin: 0;
        max-width: 300px;
    }

    &__anchors {
        @include list-reset;
        display: flex;
        margin-left: auto;
        margin-right: auto;

        a {
            color: var(--black);
            padding: 10px;
            text-decoration: none;
            @include hover {
                color: var(--purple);
                font-weight: 500;
            }
        }
    }
}

.features {
    display: grid;
    gap: var(--gap);
    @media(min-width: $sm) {
        grid-template-columns: repeat(auto-fit, minmax(228px, 1fr));
    }

    &:not(:last-child) {
        margin-bottom: var(--section_indent_min);
    }

    &__column {
        background-color: var(--white);
        border-radius: var(--border_radius_default);
        border: 1px solid var(--grey_light);
        display: flex;
        flex-direction: column;
    }

    &__item {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        margin: 0;
        padding: 20px;

        &:not(:last-child) {
            border-bottom: 1px solid var(--grey_light);
        }
    }

    &__item-title {
        align-items: center;
        color: var(--grey);
        display: flex;
        gap: 5px;
        min-width: 51%;
        padding-right: 10px;
        @media(min-width: $sm) and (max-width: 1400px - 0.02px) {
            width: 100%;
        }

        svg {
            fill: var(--purple);
            height: 24px;
            min-width: 24px;
            width: 24px;
        }
    }

    &__item-text {
        @media(min-width: 1400px) {
            width: 49%;
        }
    }
}

.map {
    &:not(:last-child) {
        margin-bottom: clamp(var(--section_indent_min), 4.25vw, var(--section_indent_max));
    }

    iframe {
        background-color: var(--grey_light);
        display: block;
    }
}

.small-map {
    border-radius: var(--border_radius_default);
    background-color: var(--white);
    padding: var(--container_padding);
    @media(max-width: $md - 0.02px) {
        border-radius: 0;
        margin-left: calc(0.01px - var(--container_padding));
        margin-right: calc(0.01px - var(--container_padding));
    }

    &:not(:last-child) {
        margin-bottom: var(--gap);
    }

    &__map {
        &:not(:last-child) {
            margin-bottom: var(--gap);
        }
    }

    iframe {
        background-color: var(--grey_light);
        border-radius: var(--border_radius_small);
        display: block;
    }

    &__props {
        @media(min-width: $md) and (max-width: $xlg - 0.02px) {
            font-size: 14px;
        }
    }

    &__prop {
        display: flex;
        gap: 16px;
        justify-content: space-between;

        &:not(:last-child) {
            border-bottom: 1px solid var(--purple_light);
            margin-bottom: 16px;
            padding-bottom: 16px;
        }

        b {
            align-self: center;
        }

        span {
            text-align: right;
        }
    }
}