.breadcrumbs {
    @include list-reset;
    align-items: center;
    display: flex;
    gap: 10px;
    padding-top: var(--gap);
    padding-bottom: var(--gap);
    @media(max-width: $hd - 0.02px) {
        font-size: 12px;
    }
    @media(max-width: 1560px - 0.02px) {
        margin-left: calc(0.01px - var(--container_padding));
        margin-right: calc(0.01px - var(--container_padding));
        overflow-x: auto;
        padding-left: var(--container_padding);
        padding-right: var(--container_padding);
        scrollbar-width: none;
        white-space: nowrap;
    }

    &__item {
        &:not(:last-child) {
            align-items: center;
            display: flex;
            gap: 10px;

            &::after {
                content: '/';
            }
        }
    }

    &__link {
        align-items: center;
        color: var(--purple);
        display: flex;
        gap: 10px;
        text-decoration: none;
        @include hover {
            color: var(--accent);
        }

        svg {
            fill: currentColor;
            height: 24px;
            min-width: 24px;
            width: 24px;
            @media(max-width: $hd - 0.02px) {
                height: 20px;
                min-width: 20px;
                width: 20px;
            }
        }
    }
}