.providers {
    display: flex;
    gap: var(--gap);
    flex-wrap: wrap;

    &:not(:last-child) {
        margin-bottom: var(--section_indent_min);
    }

    .provider-card {
        width: 100%;
        @media(min-width: 600px) {
            width: calc(100% / 2 - var(--gap) / 2);
        }
        @media(min-width: $md) {
            width: calc(100% / 3 - var(--gap) / 3 * 2);
        }
        @media(min-width: $lg) {
            width: calc(100% / 6 - var(--gap) / 6 * 5);
        }
    }
}

.provider-card {
    border-radius: var(--border_radius_default);
    border: 1px solid var(--purple_light);
    background-color: var(--white);
    box-shadow: var(--box_shadow_default);
    padding: 30px;
    position: relative;
    transition: border-color 0.3s;
    z-index: 0;
    @include hover {
        border-color: var(--accent);
    }

    &__image {
        align-items: center;
        display: flex;
        justify-content: center;

        img {
            display: block;
            height: 140px;
            object-fit: contain;
            width: 100%;
        }
    }
}