.features {
    display: grid;
    gap: var(--gap);
    @media(min-width: $sm) {
        grid-template-columns: repeat(auto-fit, minmax(228px, 1fr));
    }

    &:not(:last-child) {
        margin-bottom: var(--section_indent_min);
    }

    &__column {
        background-color: var(--white);
        border-radius: var(--border_radius_default);
        border: 1px solid var(--grey_light);
        display: flex;
        flex-direction: column;
    }

    &__item {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        margin: 0;
        padding: 20px;

        &:not(:last-child) {
            border-bottom: 1px solid var(--grey_light);
        }
    }

    &__item-title {
        align-items: center;
        color: var(--grey);
        display: flex;
        gap: 5px;
        min-width: 51%;
        padding-right: 10px;
        @media(min-width: $sm) and (max-width: 1400px - 0.02px) {
            width: 100%;
        }

        svg {
            fill: var(--purple);
            height: 24px;
            min-width: 24px;
            width: 24px;
        }
    }

    &__item-text {
        @media(min-width: 1400px) {
            width: 49%;
        }
    }
}