.sorting-block {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    &:not(:last-child) {
        margin-bottom: var(--gap);
    }

    .tags {
        margin-right: auto;
        margin-bottom: 0;
    }

    &__count {
        margin-right: auto;
        margin-bottom: 0;

        b {
            font-weight: 500;
        }
    }
}

.sorting-select {
    align-items: center;
    display: flex;
    gap: 5px;

    svg {
        fill: var(--black);
        height: 24px;
        min-width: 24px;
        width: 24px;
    }

    .select-wrapper {
        width: 220px;
    }

    .select2-container--default .select2-selection--single {
        background-color: var(--white);
    }
}