.streamers-list {
    display: flex;
    gap: var(--gap);
    flex-wrap: wrap;

    &:not(:last-child) {
        margin-bottom: var(--section_indent_min);
    }

    .streamer-card {
        width: 100%;
        @media(min-width: 600px) {
            width: calc(100% / 2 - var(--gap) / 2);
        }
        @media(min-width: $lg) {
            width: calc(100% / 3 - var(--gap) / 3 * 2);
        }
    }

    &--big {
        .streamer-card {
            @media(min-width: $md) {
                width: calc(100% / 3 - var(--gap) / 3 * 2);
            }
            @media(min-width: $lg) {
                width: calc(100% / 4 - var(--gap) / 4 * 3);
            }
        }
    }
}

.streamer-card {
    border-radius: var(--border_radius_default);
    border: 1px solid var(--grey_light);
    background-color: var(--white);
    box-shadow: var(--box_shadow_default);
    display: flex;
    gap: 16px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    transition: border-color 0.3s;
    z-index: 0;
    @include hover {
        border-color: var(--accent);

        .streamer-card__image {
            img {
                transform: scale(1.02);
            }
        }

        .streamer-card__button {
            background-color: var(--accent);
        }
    }

    &--small {
        flex-direction: column;
        text-align: center;

        .streamer-card__image {
            margin-left: auto;
            margin-right: auto;
        }

        .streamer-card__props {
            justify-content: center;

            &:not(:last-child) {
                margin-bottom: 0;
            }
        }

        .button {
            margin-top: 15px;
        }
    }

    &__image {
        border-radius: 50%;
        height: 60px;
        min-width: 60px;
        overflow: hidden;
        width: 60px;

        img {
            display: block;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: transform 0.3s;
            transform: scale(1);
            width: 100%;
        }
    }

    &__text-block {}

    &__title {
        font-size: clamp(18px, 3vw, 24px);
        font-weight: 700;
        line-height: 1.2;
        margin: 0;

        a {
            @include active-area;
            color: var(--black);
            text-decoration: none;
        }
    }

    &__props {
        align-items: center;
        color: var(--grey);
        display: flex;
        gap: 5px;
        flex-wrap: wrap;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__star-icon {
        fill: var(--grey_light);
        height: 24px;
        min-width: 24px;
        width: 24px;

        &.filled {
            fill: var(--yellow);
        }
    }

    &__title-icon {
        fill: var(--purple);
        height: 24px;
        min-width: 24px;
        width: 24px;
    }

    &__platform-icon {
        height: 32px;
        min-width: 32px;
        width: 32px;
    }
}