.top-table {
    border-radius: var(--border_radius_small);
    border: 1px solid var(--purple_light);

    table {
        border: none;

        tbody {
            tr:nth-child(odd) {
                td {
                    background-color: var(--white);
                }
            }

            tr:nth-child(even) {
                td {
                    background-color: var(--purple_super_light);
                }
            }
        }

        th {
            font-size: 15px;
        }

        td,
        th {
            padding-left: 10px;
            padding-right: 10px;

            &:first-child {
                padding-left: 20px;
            }

            &:last-child {
                padding-right: 20px;
            }
        }
    }

    .avatar,
    .logo {
        background-color: var(--white);
        border-radius: var(--border_radius_small);
        border: 1px solid var(--grey_light);
        display: block;
        height: 50px;
        min-width: 50px;
        object-fit: contain;
        object-position: center;
        width: 50px;
    }

    .avatar {
        border-radius: 50%;
    }

    .title {
        font-size: 18px;
        font-weight: 700;
        margin: 0;
    }

    .description {
        color: var(--grey_dark);
        font-size: 15px;
    }

    .rating {
        align-items: center;
        display: flex;
        gap: 2px;
        white-space: nowrap;

        svg {
            fill: var(--yellow);
            height: 24px;
            min-width: 24px;
            width: 24px;
        }
    }

    .button {
        white-space: nowrap;
    }

    .platforms {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
    }

    .platform {
        height: 32px;
        min-width: 32px;
        width: 32px;
    }

    .prop {
        align-items: center;
        display: flex;
        gap: 5px;
        margin: 0;

        svg {
            fill: var(--yellow);
            height: 16px;
            min-width: 16px;
            width: 16px;
        }
    }
}