<footer class="footer">
    <div class="footer__inner container">
        <div class="footer__top">
            <div class="footer__top-left">
                <div class="footer__logo"><img src="images/logo.svg" alt="Азартика"></div>

                <p>Информационный портал об онлайн слотах, провайдерах игр и индустрии iGaming. Не является оператором азартных игр.</p>

                <p>Контент для лиц 18+.</p>
            </div>

            <ul class="footer-menu">
                <li class="footer-menu__title"><a class="footer-menu__link" href="#">Слоты</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Популярные</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Новинки</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">С джекпотом</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Megaways</a></li>
            </ul>

            <ul class="footer-menu">
                <li class="footer-menu__title"><a class="footer-menu__link" href="#">Провайдеры</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Топ провайдров</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Обзоры</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Рейтинги</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Лицензии</a></li>
            </ul>

            <ul class="footer-menu">
                <li class="footer-menu__title"><a class="footer-menu__link" href="#">Сообщество</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Стримеры</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Новости</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Статьи</a></li>
            </ul>

            <ul class="footer-menu">
                <li class="footer-menu__title"><a class="footer-menu__link" href="#">Помощь</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Гайды</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">FAQ</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Контакты</a></li>
            </ul>
        </div>

        <div class="footer__bottom">
            <ul class="footer-menu">
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Политика конфиденциальности</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Политика обработки персональных данных</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Политика использования файлов cookie</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Предупреждение о рисках</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">О проекте</a></li>
                <li class="footer-menu__item"><a class="footer-menu__link" href="#">Карта сайта</a></li>
            </ul>

            <div class="footer__bottom-left">
                <p>Внимание: Азартные игры могут вызывать зависимость.<br> Играйте ответственно.<br> Контент предназначен для лиц старше 18 лет.</p>
                <p>Информация на сайте носит ознакомительный характер.</p>
            </div>

            <div class="footer__bottom-right">
                <p>© 2026 Азартика. Все права защищены.</p>
            </div>
        </div>
    </div>
</footer>